:root{

  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--lightBlue) !important ;
  color: var(--mainDark) !important ;

}

.text-title{
  font-family: 'Overpass', sans-serif !important;
  letter-spacing: 0.3rem !important;
  text-transform: uppercase !important;

}

.text-blue{
  color: var(--mainBlue) !important;
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 1rem !important;
  color: black;
  border-radius: 0 !important;
  border: 0.1rem solid  var(--mainDark) !important ;
}


.btn-black:hover{
  background: black !important;
  color :var(--mainWhite) !important;

}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}